*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro";
  margin: 100px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  border: 1px solid #ccc;
  padding: 8px;
  width: 250px;
}

.form-group input:focus {
  outline: 0;
  border-color: #333;
}

.btn {
  margin-top: 20px;
  padding: 8px 12px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn:hover {
  border-color: #333;
  cursor: pointer;
}

.btn:focus {
  outline: 0;
  border-color: #333;
}

.loading-status {
  font-size: 12px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-style: italic;
  width: 250px;
  text-align: center;
  border: 1px solid black;
}

.suggestion-card {
  width: 250px;
  padding-left: 15px;
  margin-bottom: 15px;
}

.suggestion-card address {
  font-size: 13px;
  font-style: normal;
}

.suggestion-card p {
  margin-bottom: 7px;
  font-size: 15px;
}

.suggestion-item-id {
  padding-top: 30px;
  padding-right: 15px;
  font-size: 12px;
  font-weight: bold;
}

.suggestion-item {
  border: 1px solid black;
  display: flex;
  width: 380px;
}

.suggestion-card__close {
  padding: 40px 5px;
  border-left: 1px solid black;
}

.suggestion-item__active {
  background-color: #f6f6f6;
}

.suggestion-card__wrapper {
  border: 1px solid black;
  width: 250px;
  display: flex;
}

.loading-status,
.suggestion-item-id,
.suggestion-item,
.suggestion-card__wrapper,
.suggestion-card__close,
.suggestion-card {
  cursor: pointer;
}
